/*
 * Common
 */

body {
  text-align: center;
  background: black;
  color: white;
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-family: Dosis, sans-serif;
  text-transform: uppercase;
  font-weight: 600;
}

.blog-title {
  margin-bottom: 0;
}

.blog-title a, .blog-title a:visited, blog-title a:hover {
  text-decoration: none;
  color: white;
}

.home > p {
  margin-bottom: 40px;
}

.home, .entry {
  padding-top: 20px;
}

.entry-box {
  color: black;
  background: rgb(249, 249, 249);

  /* little less due to line-height on h2 */
  padding-top: 18px;
  padding-bottom: 20px;
}

.entry-box .title, .entry-box p {
  font-family: Dosis, sans-serif;
  margin: 0;
}

.entry-box p {
  font-size: 18px;
}

.entry-box .at-sign {
  position: relative;
  top: -1px;
  font-size: 22px;
}

.entry-box strong {
  font-weight: 700;
}

.entry-box .title {
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 3px;
}

.title a, .title a:visited, .title a:hover {
  color: black;
}


/*
 * Home
 */

.home {
  max-width: 600px;
  margin: 0 auto;
}

.home ul {
  padding-left: 0;
  list-style-type: none;
  color: black;
} 

.home ul li {
  margin-bottom: 20px;
}


/*
 * Entry page
 */

.entry a, .entry a:visited, .entry a:hover {
  color: white;
}

.entry .description {
  max-width: 600px;
  margin: 0 auto;
}

video {
  width: 50%;
  height: 50%;
}


.page-transition-enter {
  transition: opacity .5s ease-in-out;
  opacity: 0;
  position: absolute;
  left: 0;
  right: 0;
}

.page-transition-enter.page-transition-enter-active {
  opacity: 1;
}

.page-transition-leave {
  transition: opacity .5s ease-in-out;
  opacity: 1;
  position: absolute;
  left: 0;
  right: 0;
}
.page-transition-leave.page-transition-leave-active {
  opacity: 0;
}
