/*
 * Common
 */

html {
  overflow-y: scroll;
}

body {
  text-align: center;
  background: black;
  color: white;
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3 {
  font-family: Dosis, sans-serif;
  text-transform: uppercase;
  font-weight: 600;
}


a, a:visited, a:hover {
  color: white;
}

.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
  margin-top: 60px
}

header {
  position: fixed;
  z-index: 1000;

  height: 60px;
  margin: 0;
  top: 0;
  left: 0;
  right: 0;

  background: black;
  border-bottom: 1px white solid;

  display: flex;

  /* vertical align */
  align-items: center;

  /* horizontal align */
  justify-content: center;
}

h1.blog-title {
  flex: 1;
}

.blog-title a, .blog-title a:visited, blog-title a:hover {
  text-decoration: none;
  color: white;
}

.home > p {
  margin-bottom: 40px;
}

.entry-box {
  color: black;
  background: rgb(249, 249, 249);

  /* little less due to line-height on h2 */
  padding-top: 18px;
  padding-bottom: 20px;
}

.entry-box .title, .entry-box p {
  font-family: Dosis, sans-serif;
  margin: 0;
}

.entry-box p {
  font-size: 18px;
}

.entry-box .at-sign {
  position: relative;
  top: -1px;
  font-size: 22px;
}

.entry-box strong {
  font-weight: 700;
}

.entry-box .title {
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 3px;
}

.title a, .title a:visited, .title a:hover {
  color: black;
}


/*
 * Home
 */

.home {
  max-width: 600px;
  margin: 0 auto;

  /* THIS IS REQUIRED FOR REASONS I DO NOT UNDERSTAND :(
   * Without it, the page will get pushed down a bit during navigation transitions
   */
  padding-top: 10px;
}

.home ul {
  padding-left: 0;
  list-style-type: none;
  color: black;
} 

.home ul li {
  margin-bottom: 20px;
}


/*
 * Entry page
 */

.entry .description {
  max-width: 600px;
  margin: 0 auto;
  text-align: justify;
}

video {
  width: 50%;
  height: 50%;
}


.page-transition-enter {
  transition: opacity .5s ease-in-out;
  opacity: 0;
  position: absolute;
  left: 0;
  right: 0;
}

.page-transition-enter.page-transition-enter-active {
  opacity: 1;
}

.page-transition-leave {
  transition: opacity .5s ease-in-out;
  opacity: 1;
  position: absolute;
  left: 0;
  right: 0;
}
.page-transition-leave.page-transition-leave-active {
  opacity: 0;
}


ul.audio-links {
  padding-left: 0;
  list-style-type: none;
}

footer {
  padding-bottom: 20px;
}
