.audio-player {
  position: absolute;

  top: 0;
  right: 10px;
  height: 60px;
  min-width: 100px;

  font-family: Dosis, sans-serif;
  text-transform: uppercase;
  font-size: 28px;

  display: flex;

  /* vertical align */
  align-items: center;

  /* horizontal align */
  justify-content: center;

  line-height: 60px;
}

.audio-player i, .audio-player .icon {
  line-height: 60px;
}

.audio-control {
  width: 50px;
  cursor: default;
  position: relative;
}

.audio-control.interactive:hover {
  color: black;
  background: rgb(249, 249, 249);
  cursor: pointer;
}

/*
 * Music info slide-out
 */

.audio-player .info .slider {
  background: rgb(249, 249, 249);

  position: absolute;
  right: 100%;
  top: 0;
  font: 14px "Open Sans", sans-serif;
  text-transform: none;
  overflow: hidden;
  text-align: left;

  /* v-align dat */
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60px;

  white-space: nowrap;

  padding: 0;
  width: 0;

  transition-property: width;
  transition-duration: .3s;
  transition-timing-function: cubic-bezier(0.4,0.0,1,1);
}

.audio-control:hover .info .slider {
  width: 240px;
  padding: 0 10px;
}

.audio-player .info .slider > span {
  overflow: hidden;
  text-overflow: ellipsis;
}

/*
 * Volume input
 */

.audio-player .volume .slider {
  position: absolute;
  top: 60px;
  background: black;
  color: white;
  width: 50px;
  border-right: 1px white solid;
  border-left: 1px white solid;
  border-bottom: 1px white solid;

  overflow: hidden;
  height: 0px;

  transition-property: height;
  transition-duration: .3s;
  transition-timing-function: cubic-bezier(0.4,0.0,1,1);
}

.audio-control:hover .volume .slider {
  height: 150px;
}

.volume-input-container {
  padding: 10px 0px;
}

.volume-input {
  /* keep w x h even by even or odd by odd, or rotate will be blurry */
  width: 130px;
  height: 6px;
  transform: rotate(270deg);
  -webkit-transform-origin: 50%  51%;

  /* TODO These numbers are really annoying to hardcode */
  margin-top: 60px;
  margin-left: -41px;

  border-radius: 0px;
  background: rgb(249, 249, 249);
  border: none;
}

.volume-input:focus {
  outline: 0;
}

/* Webkit overrides */

.volume-input {
  -webkit-appearance: none;
}

.volume-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  margin-left: -5px;  /* this is a child of the track, so this "re-centers" it */
  width: 15px;
  height: 15px;
  background: black;
  border: 1px white solid;
  border-radius: 0px;
}

/* Firefox overrides */

.volume-input::-moz-range-track {
  border-radius: 0px;
  background: rgb(249, 249, 249);
  border: none;
  height: 5px;
}

.volume-input::-moz-range-thumb {
  margin-left: -5px;  /* this is a child of the track, so this "re-centers" it */
  width: 15px;
  height: 15px;
  background: black;
  border: 1px white solid;
  border-radius: 0px;
}

/* TODO: Internet Explorer overrides go here */
